.container {
  max-width: 420px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: var(--roboto);
  padding: 20px 0 130px;

  & h2 {
    text-align: center;
  }
  &__title {
    font-family: var(--bebas);
    font-size: 40px;
    color: var(--green);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__flex {
    padding: 0;
    margin: 0;

    &__form {
      display: flex;
      flex-direction: column;

      gap: 10px;
      margin-bottom: 20px;

      &__inputs {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          -moz-appearance: textfield;
        }

        & input {
          background-color: var(--black);
          color: white;
          padding: 0 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin: 0;
          width: 100%;
          height: 50px;
          font-size: 18px;
          border: none;

          &::placeholder {
            color: var(--light-gray);
          }

          &:focus {
            border: none;
            outline: none;
          }
        }
      }

      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        @media (hover: hover) {
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }

    &__list {
      margin: 20px 0;
      padding: 0 10px;

      &__title {
        height: 50px;
        & h2 {
          & span {
            display: inline-block;
          }
        }
      }

      &__person {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fffdfd;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #eee;
        border-radius: 5px;

        /* b {
          text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        } */

        & span {
          color: black;
        }
      }

      &__delete {
        background-color: transparent;
        border: none;
        border-radius: 50%;

        &__icon {
          cursor: pointer;
          width: 30px;
          height: 30px;
          & svg {
            width: 30px;
            height: 30px;
            fill: red;
          }
        }
      }
    }

    &__results {
      & h2 {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
      }

      &__debt {
        background: #f9f9f9;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #eee;
        border-radius: 5px;
        color: var(--dark);

        /* b {
          text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        } */
      }
    }

    &__summary {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & div {
        background-color: white;
        color: black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
          line-height: 1;
          text-align: center;

          & span {
            font-size: 23px !important;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.disable {
  opacity: 0.2;
}

.screenshot {
  position: relative;
  padding: 10px 10px;
  background-color: var(--dark);
  /* border-radius: 15px; */
  /* &::before {
    content: "";
    position: absolute;
    width: 105%;
    height: 105%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    border-radius: 15px;
    z-index: -1;
  } */
}

.shareContainer {
  padding: 0 10px;
  & button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: auto auto;
    margin-top: 20px;

    @media (hover: hover) {
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
