.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  min-height: 100dvh;
  margin: 0 8px;

  & a {
    position: absolute;
    bottom: 50px;

    & img {
      width: 200px;
      height: auto;
    }
  }
}
